
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" > <b>{{logginedas | uppercase}}</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    

    </ul>
    <div class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>


<div class="sidebar">
  <a  routerLink="/dashboard" class="active mt-3">Dashboard</a>
  <a *ngIf="hidereport" routerLink="/report" >Report</a>
</div>


<div class="main p-3">
  <div class="card p-3" style="float: right;">
    <div class="card-body" style="    font-size: large;">
      <p> Hii <b>{{name}}</b></p>
      <p>Logged as <b>{{logginedas}}</b> </p>    
    </div>
    
  </div>
</div>